@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.header {
    font-size: 3em;
    width: 100vw-15px;
    min-height: 75px;
    padding: 5px;
    display: block;
    background: #fff9;
    margin: 5px 10px 5px 5px ;
    border-radius: 8px;
}
.logo {
    float: left;
    font-family: 'Lobster Two',serif;
    color: #b68100;
}
.user {
    float: right;
}
.cart {
    float: right;
}