.modalWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: #fffc;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100vw;
    height: 100vh;
}

.formWrapper{
    padding: 15px;
    background: #eee;
}

.form {
    width: 350px;
    text-align: left;
}
.form span {
    padding: 5px;
    display: block;
}
.form input {
    padding: 5px;
    width: 100%;
}

.form input:user-invalid {
    border: 2px dashed red;
}

.form input[type="submit"],
.form input[type="button"] {
    width:50%;
}